VITE_SERVER_URL=http://localhost:5000
VITE_RAZORPAY_KEY=rzp_test_xxxxx
# Optional
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjI5YmVmOGYyNTU2YjRkMGU4YjJhZjRjM2JmNmQ2MzU0IiwiaCI6Im11cm11cjY0In0=
VITE_HF_ENABLED=true
